.tag-icon {
    cursor: pointer;
    color: #3d5686;
}

.modal-container {
    position: fixed;
    top: 50%;
    height: 300px;
    margin-top: -150px;
    right: 50%;
    width: 250px;
    margin-right: -125px;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    border: 1px solid;
    padding: 15px;
}

.modal-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-tag {
    display: inline-block;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}