.tag-user {
    cursor: pointer;
    color: #3d5686;
}

.modal {
    position: fixed;
    bottom: 50%;
    left: 50%;
}

.user-tag {
    display: inline-block;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}